.git
.gitignore
.env
.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
frontend/dist
frontend/coverage
htmlcov
coverage.xml
postgres-data
.idea
.vscode
.DS_Store
docs
